.gradle
/local.properties
.idea
.DS_Store
/build
/facebook/build



jaankari.iml

facebook/facebook.iml

facebook/facebook.iml

app/app.iml

gradle/local.properties

facebook/facebook.iml

app/app.iml
